.one{
    border:2px solid green;
    position:relative;
    left:130px;
    right: 120px;
    width: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: blueviolet;
    

}
.two{
    border:2px solid blue;
    position:relative;
    background-color: azure;
    left:130px ;
    right: 120px;
    width: 300px;
    padding-top: 13px;
    padding-bottom: 14px;

}
.three{
    border:2px solid yellow;
    background-color: bisque;
    position:relative;
    left:130px;
    right: 120px;
    width: 300px;
    padding-top: 13px;
    padding-bottom: 13px

}
